#date-wrapper{
	font-family:myriad;
	position:relative;
}

.ui-datepicker-calendar{
	width:80%;
	height:60vh;
	margin:0 auto;
	text-align:center;
	thead{
		padding-top:20px;
		display:none;
	}
	a{
		font-size:45px;
		color:black;
	}
}

.ui-state-default{
	&:hover{
		text-decoration:none;
	}
}

.ui-datepicker-header{
	padding-bottom:20px;
}

.ui-datepicker-title{
	text-align:center;
	font-size: 80px;
	color: $orange;
	padding-bottom:2px;
	text-transform:uppercase;
}

.ui-datepicker-next{
	float:right;
	top:75px;
	-webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
	&:hover{
		color:$orange;
		text-decoration:none;
	}
}

.ui-datepicker-prev{
	top:75px;
	-webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
	&:hover{
		color:$orange;
		text-decoration:none;
	}
}

.ui-corner-all{
	position:relative;
	color:black;
}

.ui-datepicker-year{
	display:none;
}

.ui-datepicker-current-day a{
	-webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
	color: $orange;
}

